* {
  ::before, ::after {
    box-sizing: border-box;
  }
}

body {
  color: #000000;
  font-family: "Barlow", sans-serif;
  font-size: 0.075rem;
  line-height: 1.37145;
  font-weight: 400;
  text-align: left;
  a {
    color: #36B0A7;
    text-decoration: none;
  }
}

a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  vertical-align: middle;
  border-style: none;
}

ul {
  margin: 0;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $breakpoint-xl) { max-width: 1140px; }
  @media (min-width: $breakpoint-lg) { max-width: 960px; }
  @media (min-width: $breakpoint-md) { max-width: 720px; }
  @media (min-width: $breakpoint-sm) { max-width: 540px; }
}
