.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  .white {
    background-color: white;
    border: 0;
    margin-bottom: 0rem;
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 10;
  }
  &>.container, &>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  .nav-link {
    font-size: 0.9375rem;
    font-weight: 500;
    color: #53606F;
    padding: 0.625rem 1.25rem 0.625rem;
  }
}

.navbar-expand-lg {
  @media (max-width: $breakpoint-lg) {
    flex-flow: row nowrap;
    justify-content: flex-start;

    .navbar-nav {
      flex-direction: row;
      .dropdown-menu {
        position: absolute;
      }
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }

    .navbar-toggler {
      display:none;
    }

    &>.container, &>.container-fluid {
      padding-right: 0;
      padding-left: 0;
      flex-wrap: nowrap;
    }
  }

  @media (min-width: $breakpoint-lg) {
    .navbar-nav {
      flex-direction: row;
      .nav-link {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }

    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }

    &>.container, &>.container-fluid {
      padding-right: 0;
      padding-left: 0;
      flex-wrap: nowrap;
    }
  }
}

.navbar-brand {
  margin-right: 1.25rem;
  padding: 1.125rem 0 1.1875rem;
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  img {
    width: 162px;
    height: auto;
  }
}

.collapse:not(.show) {
  display: none;
}
