.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  .white {
    background-color: white;
    border: 0;
    margin-bottom: 0rem;
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 10;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.navbar-expand-lg {
  @media (max-width: $layout-breakpoint-large) {
    flex-flow: row nowrap;
    justify-content: flex-start;

    .navbar-nav {
      flex-direction: row;
      .dropdown-menu {
        position: absolute;
      }
      .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
      }
    }

    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }

    .navbar-toggler {
      display:none;
    }

    &>.container, &>container-fluid {
      padding-right: 0;
      padding-left: 0;
      flex-wrap: nowrap;
    }
  }

  @media (min-width: $layout-breakpoint-large) {
    .navbar-nav {
      .nav-link {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}
